---
const { pathname } = Astro.url;
const allPosts = await Astro.glob('../pages/posts/*.md');
const index = allPosts.findIndex(p => p.url === pathname)
---

<style>
    a {
        padding: 2px 4px;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>

<div>{ pathname }<div>
<div>
    <a href="/vlandivir-astro-test/">Home</a>
    <a href="/vlandivir-astro-test/about/">About</a>
</div>
<div style={{marginTop: '16px'}}>
    {
        allPosts.map((post, idx) => {
            if (Math.abs(idx - index) > 2 && idx < allPosts.length - 1) {
                return;
            }

            const pubDate = post.frontmatter.pubDate.substring(0, 10).replaceAll('-', '.');

            if (idx === index) {
                return <div>{pubDate} {post.frontmatter.title}</div>
            }


            return (
                <div>
                    <a href={post.url}>{pubDate} {post.frontmatter.title}</a>
                </div>
            )
        })
    }
</div>